<% content_for :content do %>
<div class="container1">
  <h1>Headline: Gallery Page</h1>
  <div id="gallery" class="box">
    <ul>
      <li><%= link_to((image_tag 'template/featured1.jpg', width:260, height:190), image_path('template/slide1.jpg'), data: { :'gal'=> 'prettyPhoto[gallery2]'})%></li>
      <li><%= link_to(( image_tag 'template/featured2.jpg', width:260, height:190 ), image_path('template/slide2.jpg'), data: { :'gal'=> 'prettyPhoto[gallery2]'})%></li>
      <li class="last"><%= link_to(( image_tag 'template/featured3.jpg', width:260, height:190 ),
        image_path('template/slide3.jpg'), data: { :'gal'=> 'prettyPhoto[gallery2]'})%></li>
      <li><%= link_to(( image_tag 'template/featured1.jpg', width:260, height:190 ), image_path('template/slide1.jpg'), data: { :'gal'=> 'prettyPhoto[gallery2]'})%></li>
      <li><%= link_to(( image_tag 'template/featured2.jpg', width:260, height:190 ), image_path('template/slide2.jpg'), data: { :'gal'=> 'prettyPhoto[gallery2]'})%></li>
      <li class="last"><%= link_to(( image_tag 'template/featured3.jpg', width:260, height:190 ), image_path('template/slide3.jpg'), data: { :'gal'=>'prettyPhoto[gallery2]'})%></li>
      <li><%= link_to(( image_tag 'template/featured1.jpg', width:260, height:190 ), image_path('template/slide1.jpg'), data: { :'gal'=>'prettyPhoto[gallery2]'})%></li>
      <li><%= link_to(( image_tag 'template/featured2.jpg', width:260, height:190 ), image_path('template/slide2.jpg'), data: { :'gal'=> 'prettyPhoto[gallery2]'})%></li>
      <li class="last"><%= link_to(( image_tag 'template/featured3.jpg', width:260, height:190 ), image_path('template/slide3.jpg'), data: { :'gal'=> 'prettyPhoto[gallery2]'})%></li>
    </ul>
    <br class="clear" />
  </div>

  <br />

  <div class="clear"></div>
</div>


  <% end %>