<% content_for :content do %>
<div class="container1">
  <h1>Headline: Gallery Page</h1>
  <div id="gallery" class="box">
    <ul>
      <li><%= link_to((image_tag 'template/featured1.jpg', width:260, height:190), image_path('template/slide1.jpg'), data: { :'gal'=> 'prettyPhoto[gallery2]'})%></li>
      <li><%= link_to(( image_tag 'template/featured2.jpg', width:260, height:190 ), image_path('template/slide2.jpg'), data: { :'gal'=> 'prettyPhoto[gallery2]'})%></li>
      <li class="last"><%= link_to(( image_tag 'template/featured3.jpg', width:260, height:190 ),
        image_path('template/slide3.jpg'), data: { :'gal'=> 'prettyPhoto[gallery2]'})%></li>
      <li><%= link_to(( image_tag 'template/featured1.jpg', width:260, height:190 ), image_path('template/slide1.jpg'), data: { :'gal'=> 'prettyPhoto[gallery2]'})%></li>
      <li><%= link_to(( image_tag 'template/featured2.jpg', width:260, height:190 ), image_path('template/slide2.jpg'), data: { :'gal'=> 'prettyPhoto[gallery2]'})%></li>
      <li class="last"><%= link_to(( image_tag 'template/featured3.jpg', width:260, height:190 ), image_path('template/slide3.jpg'), data: { :'gal'=>'prettyPhoto[gallery2]'})%></li>
      <li><%= link_to(( image_tag 'template/featured1.jpg', width:260, height:190 ), image_path('template/slide1.jpg'), data: { :'gal'=>'prettyPhoto[gallery2]'})%></li>
      <li><%= link_to(( image_tag 'template/featured2.jpg', width:260, height:190 ), image_path('template/slide2.jpg'), data: { :'gal'=> 'prettyPhoto[gallery2]'})%></li>
      <li class="last"><%= link_to(( image_tag 'template/featured3.jpg', width:260, height:190 ), image_path('template/slide3.jpg'), data: { :'gal'=> 'prettyPhoto[gallery2]'})%></li>
    </ul>
    <br class="clear" />
  </div>

  <br />

  <div class="clear"></div>
</div>


  <div class="container1"><%= 'Moderator options' %></div>
</div>
<div class="main-container"></div>

<div class="callout">
  <div class="calloutcontainer">
    <div class="container_12">
      <div class="grid">
        <article class="footbox">
          <h2>From The Blog</h2>
          <ul>
            <li><a href="#">Lorem Ipsum Dolor</a><br /> Orciint erdum
              condimen terdum nulla mcorper elit nam curabitur...</li>
            <li><a href="#">Praesent Et Eros</a><br /> Orciint erdum
              condimen terdum nulla mcorper elit nam curabitur...</li>
            <li><a href="#">Suspendisse In Neque</a><br /> Orciint erdum
              condimen terdum nulla mcorper elit nam curabitur...</li>
          </ul>
        </article>
        <article class="footbox last">
          <h2>We Are Social!</h2>
          <div id="social">
            <a href="http://twitter.com/priteshgupta" class="s3d twitter">
              Twitter <span class="icons twitter"></span>
            </a> <a href="http://www.facebook.com/priteshgupta"
              class="s3d facebook"> Facebook <span class="icons facebook"></span>
            </a> <a href="http://forrst.com/people/priteshgupta"
              class="s3d forrst"> Forrst <span class="icons forrst"></span>
            </a> <a href="http://www.flickr.com/photos/priteshgupta"
              class="s3d flickr"> Flickr <span class="icons flickr"></span>
            </a> <a href="#" class="s3d designmoo"> Designmoo <span
              class="icons designmoo"></span>
            </a>
          </div>
        </article>
        <article class="latestgallery">
          <h2>Latest Work</h2>
          <ul>
            <li><a href="template/thumb.jpg"
              data-gal="prettyPhoto[gallery]" title="Title"><img
                src="template/thumb.jpg" alt="" width="150" height="95" /></a></li>
            <li><a href="template/thumb2.jpg"
              data-gal="prettyPhoto[gallery]" title="Title"><img
                src="template/thumb2.jpg" alt="" width="150" height="95" /></a></li>
            <li><a href="template/thumb3.jpg"
              data-gal="prettyPhoto[gallery]" title="Title"><img
                src="template/thumb3.jpg" alt="" width="150" height="95" /></a></li>
            <li><a href="template/thumb4.jpg"
              data-gal="prettyPhoto[gallery]" title="Title"><img
                src="template/thumb4.jpg" alt="" width="150" height="95" /></a></li>
          </ul>
        </article>

        <div class="clear"></div>
      </div>
      <div class="calloutoverlay"></div>
      <div class="calloutoverlaybottom"></div>
    </div>
  </div>
  <% end %>