<!DOCTYPE html>
<html>
<head>

<!DOCTYPE html>
<title>Rosario Ultimate - Homepage</title>
<meta charset="utf-8" />
<%= stylesheet_link_tag "elegant-press", :media => "screen" %> 
<%= javascript_include_tag "elegant-press" %> 
<%= javascript_include_tag'application' %> 
<%= csrf_meta_tags %>
<!--[if IE]><style>#header h1 a:hover{font-size:75px;}</style><![endif]-->
</head>
<body>
  <div class="main-container">
    <header>
      <h1>
        <a href="/">Rosario Ultimate</a>
      </h1>
      <p id="tagline">
        <strong>the art of frisbee :)</strong>
      </p>
    </header>
  </div>
  <div class="main-container">
    <div id="sub-headline">
      <div class="tagline_left">
        <p id="tagline2">
          Mail: <a href="mailto:email@website.com">info@rosario-ultimate.com.ar</a>
          <%= render partial: 'layouts/signup' %>
        </p>
      </div>

      <div class="tagline_right">
        <form action="/" method="post">
          <fieldset>
            <legend>Site Search</legend>
            <input type="text" placeholder="Search Our Website&hellip;"
              onfocus="if (this.value == 'Search Our Website&hellip;') {this.value = '';}"
              onblur="if (this.value == '') {this.value = 'Search Our Website&hellip;';}" />
            <input type="submit" name="go" id="go" value="Search" />
          </fieldset>
        </form>
      </div>
      <br class="clear" />
    </div>
  </div>
  <div class="main-container">
    <div id="nav-container">
      <nav>
        <ul class="nav">
          <%= nav_active_link_helper('home', root_path,{ controller: 'home'}) %></li> 
          <%= nav_active_link_helper('about us', about_us_page_index_path,{ action: 'about_us', controller: 'page'}) %></li>
          <%= nav_active_link_helper('frisbee','/') %>
            <ul>
              <li><%= link_to 'Ultimate', '/' %>
              <ul>
                <li><%= link_to 'rules', '/' %></li>
              </ul>
              </li>
              <li><%= link_to 'freestyle', '/' %></li>
            </ul>
          </li>
          <%= nav_active_link_helper('find us', find_us_page_index_path,{ action: 'find_us', controller: 'page'}) %></li>
          <%= nav_active_link_helper('training', training_page_index_path,{ action: 'training', controller: 'page'}) %></li>
          <%= nav_active_link_helper('gallery', gallery_path, {controller: 'gallery'}) %></li>
          <%= nav_active_link_helper('Tournament', '/') %></li>
          <li class="last"><%= link_to 'Blog', '/' %></li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
  </div>
  <div class="flash" style='margin-left: 50%'>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div class="main-container"><%= content_for?(:content) ? yield(:content) : yield %>
  </div>
  <footer>
    <p class="tagline_left">
      Copyright &copy; 2011 - All Rights Reserved - <a href="#">rosario-ultimate.com.ar</a>
    </p>
    <p class="tagline_right">Design by <a href="http://www.priteshgupta.com/" title="Pritesh Gupta" target="_blank" >PriteshGupta.com</a></p>
    <br class="clear" />
  </footer>

  <br />
  <br />

</body>
</html>