<% content_for :content do %>
<div class="container1">
  <div id="mySlides">
    <div id="slide1">
      <%= image_tag 'template/slider2.png' %> <span><b
        class="slideheading">First Featured Slide</b><br />Featured
        Text.....<a href="#" title="Coolness" class="readmore">Read
          More!</a></span>
    </div>
    <div id="slide2">
      <%= image_tag 'template/slider3.png' %> <span><b
        class="slideheading">Second Featured Slide</b><br />Featured
        Text.....<a href="#" title="Coolness" class="readmore">Read
          More!</a></span>
    </div>
    <div id="slide3">
      <%= image_tag 'template/slider1.png' %> <span><b
        class="slideheading">Third Featured Slide</b><br />Featured
        Text.....<a href="#" title="Coolness" class="readmore">Read
          More!</a></span>
    </div>
  </div>

  <div id="myController">
    <span class="jFlowControl"></span> <span class="jFlowControl"></span>
    <span class="jFlowControl"></span>
  </div>

  <section class="jFlowPrev">
    <div></div>
  </section>
  <section class="jFlowNext">
    <div></div>
  </section>
  <br /> <br />

  <article class="box" id="home_featured21">
    <% @articles.each do |article| %>
   
    <%= link_to article_path(article) do %>
    <div class="block">
        <div class="boxheader ellipsis"><h2><%= article.title %></h2></div>
        <div class="boxcontent ellipsis"><p><%= article.content.html_safe %></p></div> 
      </div>
    
    <% end %>
    <% end %>
    <div class="clear"></div>
    
    <div class="read_more"><%= link_to 'read more' , articles_path %></div> 
  </article>
 
</div>


  <% end %> <%= render template: 'layouts/application' %>